<h1>Quiz</h1>
<form>
    <label for="age">How old is that person?</label>
    <select id="age" name="age">
        <option value="0-10">0-10</option>
        <option value="10-20">10-20</option>
        <option value="20-30">20-30</option>
        <option value="30-60">30-60</option>
        <option value="60+">60+</option>
    </select>
    <br />
    <label for="gender">What's that person's gender?</label>
    <select id="gender" name="gender">
        <option value="male">male</option>
        <option value="feamle">feamle</option>
    </select>
    <br />
    <input type="submit" value="Submit" (click)="onSubmit()">
</form>
<p aria-live="polite">Current age:  <strong>{{ age }}</strong></p>