.homeImgSizer {
  object-fit: cover;
  width: 100%;
  box-shadow: rgb(237, 237, 237) 5px 5px;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
}
